langchain>=0.0.267
sentence-transformers>=2.2.2
google-genai
scikit-learn>=1.2.2
annoy>=1.17.0
rich>=13.4.2
tqdm>=4.65.0
numpy<2
torch==2.1.0
transformers>=4.34.1
accelerate>=0.20.0
fastapi
uvicorn
python-dotenv